.transactionHistory {
  width: 350px;
  text-align: center;
  background-color: #fff;
  border: 2px #d0d8e4 solid;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.12);

  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

.tableHeader {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00bcd5;

  padding-top: 12px;
  padding-bottom: 12px;
}

.tableRow:nth-of-type(even) {
  background-color: #ecf1f4;
}

.tableData {
  font-size: 14px;
  color: #2e2f42;
  text-transform: capitalize;

  padding-top: 6px;
  padding-bottom: 6px;
}
